.contenedor-rutina{
  text-align: center;
}
.tarjeta-ejercicio {
  background: #111;
  border: 2px solid #222; 
  border-radius: 12px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin: 15px auto;
  max-width: 90%;
  text-align: center;
}

.tarjeta-ejercicio img.imagen-ejercicio {
  width: 95%;
  height: auto;
  border-radius: 10px;
  margin-top: 5px;
  object-fit: cover;
  border: 1px solid #333;
}

.tarjeta-ejercicio h4 {
  font-size: 18px;
  margin-bottom: 6px;
  color: #ff4444; 
}

.tarjeta-ejercicio p {
  font-size: 14px;
  margin: 4px 0;
  color: #ccc;
}

.tarjeta-ejercicio p strong {
  color: white;
}

.tarjeta-ejercicio .mediciones {
  margin-top: 10px;
  padding: 8px 10px;
  background: #1a1a1a;
  border-radius: 6px;
  border: 1px solid #333; 
  text-align: left; 
}

.tarjeta-ejercicio .mediciones strong {
  display: block;
  margin-bottom: 4px;
  color: #ff4444;
}

.tarjeta-ejercicio .mediciones ul {
  padding-left: 16px;
  margin: 0;
}

.tarjeta-ejercicio .mediciones li {
  font-size: 13px;
  color: #aaa;
}
.historial-btn{
  margin-bottom: 10px;
}