.perfil-container {
  width: 100%;
  padding: 20px 15px;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.perfil-imagen-container {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #ff4444;
  margin-bottom: 15px;
  background-color: #222; 
}
.perfil-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.perfil-nombre-usuario {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.perfil-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.perfil-info label {
  font-weight: bold;
  color: #ff4444;
  font-size: 14px;
}

.perfil-info input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #111;
  color: white;
  font-size: 14px;
}

.btn-guardar {
  margin-top: 20px;
  padding: 12px;
  background-color: #ff4444;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.btn-guardar:hover {
  background-color: #e63b3b;
}

.perfil-loading {
  text-align: center;
  margin-top: 30px;
  color: #aaa;
}
