.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 5px 16px;
  color: white;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  height: 30px;
}

.notificacion-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
