.menu-inferior {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  color: white;
  border-top: 1px solid #333;
}

.menu-inferior a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
}

.menu-inferior a.activo {
  color: #fff;
  font-weight: bold;
}
